doctype html
html
  head
    title Mi plantilla Pug
    link(rel="stylesheet", href="/css/styles.css")
  body
    img(src=imagen)
    h1 Bienvenido a mi plantilla Pug
    p.estilo-pug #{mensaje}

    
   
