h1 {
	font-family: Arial, sans-serif;
	font-size: 26px;
	color: white;
	background-color: darkcyan;
	padding: 20px;
	border-radius: 10px;
}

p.estilo-pug{
    font-family: Arial, sans-serif;
	font-size: 16px;
    color: whitesmoke;
    background-color: darkorchid;
    padding: 20px;
	border-radius: 10px;
    text-align: center; 
    font-weight: bold;
}

p.estilo-ejs{
    font-family: Arial, sans-serif;
	font-size: 16px;
    color: black;
    background-color: darkkhaki;
    padding: 20px;
	border-radius: 10px;
    text-align: center; 
    font-weight: bold;
}
p.idUser{
    font-family: Arial, sans-serif;
	font-size: 16px;
    color: white;
    background-color: rgb(2, 245, 111);
    padding: 20px;
	border-radius: 10px;
    text-align: center; 
    font-weight: bold;
}